<li class="nav-item active">
    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
  </li>
<li class="nav-item">
        <a class="nav-link" href="#" onclick=" cargadorModulo('app', 'clientes', 'clientes');">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick=" cargadorModulo('app', 'clientes', 'clientesDetallado');">ClientesDetallado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" onclick=" cargadorModulo('app', 'categorias', 'categorias');">Categorias</a>
      </li>
