<script src="./modulos/categorias/categorias.js"></script>
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">


                <li class="breadcrumb-item " aria-current="page">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"
                        id="sucursalSeleccionada">Categorias</a></li>
            </ol>
        </nav>
    </div>
    <div class="col-12">
        <table class="table table">
            <thead>
                <td style="width:20%;">Nombre</td>
                <td style="width:20%;">Premio</td>
                <td style="width:20%;">Cobrados</td>
                <td style="width:20%;">Monto</td>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%;">Bronce</td>
                    <td style="width:40%;"><input class="form-control" type="number" id="bronceInput"></td>
                    <td style="width:20%;"><label id="bronceContador"></label></td>
                    <td style="width:20%;"><i class="fas fa-bars" onclick="modificarCategorias('bronce')"></i> </td>
                </tr>
                <tr>
                    <td style="width:20%;">Silver</td>
                    <td style="width:40%;"><input class="form-control" type="number" id="silverInput"></td>
                    <td style="width:20%;"><label id="silverContador"></label></td>
                    <td style="width:20%;"><i class="fas fa-bars" onclick="modificarCategorias('silver')"></i> </td>
                </tr>
                <tr>
                    <td style="width:20%;">Golden</td>
                    <td style="width:40%;"><input class="form-control" type="number" id="goldenInput"></td>
                    <td style="width:20%;"><label id="goldenContador"></label></td>
                    <td style="width:20%;"><i class="fas fa-bars" onclick="modificarCategorias('golden')"></i> </td>
                </tr>
                <tr>
                    <td style="width:20%;">Platinium</td>
                    <td style="width:40%;"><input class="form-control" type="number" id="platiniumInput"></td>
                    <td style="width:20%;"><label id="platiniumContador"></label></td>
                    <td style="width:20%;"><i class="fas fa-bars" onclick="modificarCategorias('platinium')"></i> </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>