<script src="./modulos/clientes/clientes.js"></script>
<div class="row">
    <div class="col-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" aria-current="page"><a href="#"
                        id="sucursalSeleccionada">Clientes</a></li>
                        <li class="breadcrumb-item " aria-current="page"><a href="#"
                            id="contadorClientes"></a></li>

            </ol>
        </nav>
    </div>
    
    <div class="col-3" style="text-align:right;">
        <button class="btn btn-success" onclick="cargadorModulo('app', 'clientes', 'agregar');"> Agregar</button>
    </div>
    <div class="col-6">
        <input type="text" class="form-control" onkeyup="filtrarSucursal(this.value);" placeholder="Sucursal...">
    </div>
    <div class="col-6">
        <input type="text" class="form-control" onkeyup="filtrarNombre(this.value); " placeholder="Nombre...">
    </div>

    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
        <table class="table table-bordered table-striped">
            <tbody id="cuerpoCliente">

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargadorModulo("navBar", "navBar", "selecionado");
        db.collection("clientes")
            .onSnapshot(function (queryCup) {
                listClientes = [];
                contentClientes = "";
                contadorClientes = 0;
                queryCup.forEach(function (docCup) {
                    contadorClientes++;
                    listClientes.push({
                        id: docCup.id,
                        nombre: docCup.data().nombre,
                        apellido:docCup.data().apellido,
                        monto: docCup.data().monto,
                        rut: docCup.data().rut,
                        clasificacion: docCup.data().clasificacion,
                        sucursal: docCup.data().sucursal,
                        contador: docCup.data().contador,
                        fecha:docCup.data().fecha,
                        hora:docCup.data().hora
                    }
                    );
                    clase=''
                    hora='';
                    if(docCup.data().fecha==obtenerFecha()){
                        clase='table-success'
                        hora=docCup.data().hora
                    }
                    contentClientes += `
                <tr style='font-size:70%;' class="`+clase+`">
                <td style="width:30%;"> `+ docCup.data().nombre + ` ` + docCup.data().apellido + `</td>
                <td style="width:30%;"> `+ docCup.data().rut + `</td>
                <td style="width:15%;"> `+ docCup.data().clasificacion + `</td>
                <td style="width:15%;"> `+ docCup.data().sucursal + ` <p> `+hora+`</p></td>
                <td style="width:10%;"><i class="fas fa-bars" onclick="cargarModificarCli('`+ docCup.id + `','` + docCup.data().nombre + `','` + docCup.data().apellido + `','` + docCup.data().fono + `','` + docCup.data().rut + `','` + docCup.data().clasificacion + `','` + docCup.data().sucursal + `','` + docCup.data().monto + `',` + docCup.data().contador + `)"></i> </td>
                </tr>`
                });
                $("#contadorClientes").html(contadorClientes)
                $('#cuerpoCliente').html(contentClientes);

            });

    });
</script>