<script>
    $(document).ready(function () {
  
  
      $('#nombre').val(localStorage.nombre)
      $('#apellido').val(localStorage.apellido)
      $('#rut').html(localStorage.rut)
      $('#clasificacion').val(localStorage.clasificacion)
      $('#fono').val(localStorage.fono)
      $('#sucursal').val(localStorage.sucursal)
      $('#monto').val(localStorage.monto)
      $('#contador').val(localStorage.contador);
      $('#fecha').val(localStorage.fecha)
      $('#hora').val(localStorage.hora);
  
    });
  
  </script>
  
  
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">Sucursales</li>
        <li class="breadcrumb-item " aria-current="page"><a href="#" id="sucursalSeleccionada">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  
      </ol>
    </nav>
  </div>
  
  <div class="col-12">
    <form class="row"
      onsubmit="modificarClienteDet(nombre.value,apellido.value,fono.value,contador.value, clasificacion.value,local.value,fecha.value,hora.value); return false">
      <div class="col-10">
        <h4>Modificar Cliente</h4>
      </div>
      <div class="col-2">
          <h4><i class="fas fa-trash-alt" onclick="eliminarCliente()"></i></h4>
        </div>
      <div class="col-12 col-sm-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del cliente" required>
      </div>
      <div class="col-12 col-sm-6">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingrese el nombre del cliente" required>
      </div>
      <div class="col-12 col-sm-6">
        <label for="fono">Fono</label>
        <input type="text" class="form-control" id="fono" placeholder="Ingrese el Fono del cliente" >
      </div>

      <div class="col-12 col-sm-6">
        <label for="fecha">fecha</label>
        <input type="text" class="form-control" id="fecha" placeholder="Ingrese el nombre del cliente" >
      </div>
      <div class="col-12 col-sm-6">
        <label for="hora">hora</label>
        <input type="time" class="form-control" id="hora" placeholder="Ingrese el nombre del cliente" >
      </div>
      <div class="col-12 col-sm-6 ">
        <label for="rut">Rut</label>
        <p id="rut" id="rut" >Rut</p>
      </div>
  
      <div class="col-12 col-sm-3">
        <label for="clasificacion">Clasificacion</label>
        <select id="clasificacion" class="form-control">
          <option value="Bronce">Bronce</option>
          <option value="Silver">Silver</option>
          <option value="Golden">Golden</option>
          <option value="Platinium">PLatinium</option>
        </select>
      </div>
      <div class="col-12 col-sm-3">
        <label for="local">Local</label>
        <select id="local" class="form-control">
          <option value="osorno" selected>Osorno</option>
          <option value="coyhaique">Coyhaique</option>
  
        </select>
      </div>
  
      <div class="col-12 col-sm-6 " style="margin-top:20px;">
        <button type="button" class="btn btn-primary"
          onclick="cargadorModulo('app', 'clientes', 'clientesDetallado')">Volver</button>
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>
  
    </form>
  </div>